<section aria-labelledby="solution-section" role="complementary" className="solution-sec-copy">
   <div className="w-layout-blockcontainer container-51 w-container">
      <div className="div-block-106">
         <p className="heading-245">How We Integrate</p>
         <h2 className="heading-244"><strong className="heading-247">Powerful Integrations for Business of All Sizes</strong></h2>
         <p className="paragraph-80">Minimal setup, maximum impact. Seamlessly integrate into your existing systems—quickly, cost-effectively, and without disruption.</p>
      </div>
      <div className="plateform-slider">
         <div className="slide-accordian">
            <div data-delay="0" data-hover="false" id="toggle-1" data-slide="0" data-w-id="1f162966-362f-9354-f087-cf1fb37a8d1a" style="height:75px" className="accordian-item accordian-tab slider-tab w-dropdown">
               <div className="accordian-toggle-btn w-dropdown-toggle">
                  <div className="faq-title no-repeat accordian-title direc-api">Direct API Integration</div>
                  <div className="caret-arrow w-embed">
                     <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M1.15293 4.73106C1.48903 4.33455 2.08294 4.28558 2.47945 4.62168L9.00192 10.1504L15.372 4.62846C15.7648 4.28799 16.3592 4.33038 16.6997 4.72315C17.0401 5.11592 16.9977 5.71033 16.605 6.0508L9.01565 12.6297L1.26231 6.05758C0.8658 5.72148 0.816827 5.12758 1.15293 4.73106Z" fill="#003A5D"/>
                     </svg>
                  </div>
               </div>
               <nav id="dropdown-list-1" className="dropdown-list-7 w-dropdown-list">
                  <div className="faq-txt-2 accordian-txt">Built for fast, hassle-free deployment by your engineering teams.<br/></div>
               </nav>
            </div>
            <div data-delay="0" data-hover="false" data-slide="1" data-w-id="1f162966-362f-9354-f087-cf1fb37a8d25" style="height:75px" className="accordian-item accordian-tab slider-tab w-dropdown">
               <div className="accordian-toggle-btn w-dropdown-toggle">
                  <div className="faq-title no-repeat accordian-title connect pre-built">Pre-Built Connectors</div>
                  <div className="caret-arrow w-embed">
                     <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M1.15293 4.73106C1.48903 4.33455 2.08294 4.28558 2.47945 4.62168L9.00192 10.1504L15.372 4.62846C15.7648 4.28799 16.3592 4.33038 16.6997 4.72315C17.0401 5.11592 16.9977 5.71033 16.605 6.0508L9.01565 12.6297L1.26231 6.05758C0.8658 5.72148 0.816827 5.12758 1.15293 4.73106Z" fill="#003A5D"/>
                     </svg>
                  </div>
               </div>
               <nav className="dropdown-list-7 w-dropdown-list">
                  <div className="faq-txt-2 accordian-txt">Connect instantly to trusted ERPs like Oracle, SAP, Infor, and more.</div>
               </nav>
            </div>
            <div data-delay="0" data-hover="false" data-slide="2" data-w-id="1f162966-362f-9354-f087-cf1fb37a8d2f" style="height:75px" className="accordian-item accordian-tab slider-tab w-dropdown">
               <div className="accordian-toggle-btn w-dropdown-toggle">
                  <div className="faq-title no-repeat accordian-title integration low-code">Simple, Code-Free Integration Tools</div>
                  <div className="caret-arrow w-embed">
                     <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M1.15293 4.73106C1.48903 4.33455 2.08294 4.28558 2.47945 4.62168L9.00192 10.1504L15.372 4.62846C15.7648 4.28799 16.3592 4.33038 16.6997 4.72315C17.0401 5.11592 16.9977 5.71033 16.605 6.0508L9.01565 12.6297L1.26231 6.05758C0.8658 5.72148 0.816827 5.12758 1.15293 4.73106Z" fill="#003A5D"/>
                     </svg>
                  </div>
               </div>
               <nav className="dropdown-list-7 w-dropdown-list">
                  <div className="faq-txt-2 accordian-txt">Designed for non-technical teams; simple setup with zero code required.</div>
               </nav>
            </div>
         </div>
         <div className="accordian-slider-img">
            <div className="img-slide"><img width="Auto" sizes="(max-width: 585px) 100vw, 585px" alt="An image representing Dispatch integration with various existing systems." src="https://cdn.prod.website-files.com/667d3b0059ae51e3dbe3d9b7/66c5d0640056057d80e93a9e_benefit1.webp" loading="lazy" srcset="https://cdn.prod.website-files.com/667d3b0059ae51e3dbe3d9b7/66c5d0640056057d80e93a9e_benefit1-p-500.webp 500w, https://cdn.prod.website-files.com/667d3b0059ae51e3dbe3d9b7/66c5d0640056057d80e93a9e_benefit1.webp 585w" className="image-165"/></div>
            <div className="img-slide"><img sizes="(max-width: 557px) 100vw, 557px" srcset="https://cdn.prod.website-files.com/667d3b0059ae51e3dbe3d9b7/66c5d0646389eacc010dfc22_benefit2-p-500.png 500w, https://cdn.prod.website-files.com/667d3b0059ae51e3dbe3d9b7/66c5d0646389eacc010dfc22_benefit2.webp 557w" alt="Dispatch Connect" src="https://cdn.prod.website-files.com/667d3b0059ae51e3dbe3d9b7/66c5d0646389eacc010dfc22_benefit2.webp" loading="lazy" className="image-167"/></div>
            <div className="img-slide"><img sizes="(max-width: 585px) 100vw, 585px" srcset="https://cdn.prod.website-files.com/667d3b0059ae51e3dbe3d9b7/66c5d3a0618484a15fa13e21_Frame%201321315165%20(1)-p-500.webp 500w, https://cdn.prod.website-files.com/667d3b0059ae51e3dbe3d9b7/66c5d3a0618484a15fa13e21_Frame%201321315165%20(1).webp 585w" alt="Integrations" src="https://cdn.prod.website-files.com/667d3b0059ae51e3dbe3d9b7/66c5d3a0618484a15fa13e21_Frame%201321315165%20(1).webp" loading="lazy" className="image-166"/></div>
         </div>
      </div>
   </div>
</section>