.banner {
  padding: 80px 0;
  background-image: url(/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 269px 0 146px;
  color: #fff;
}
.banner span {
  font-weight: 600;
  color: #0072ff;
}
.banner h1 {
  font-size: 48px;
  margin: 20px 0;
}
