section.demo-section {
    background-color: #0f091b;
    padding-bottom: 72px;
    padding-top: 72px;
     @media(max-width:767px){
        padding: 0px;
     }
    .demo-content {
    background: linear-gradient(45deg, #6335f0, #df9fff);
    max-width: 1296px;
    margin: auto;
    border-radius: 20px;
    text-align: center;
    color: #fff;
    padding: 68px 0;
    
}

.demo-content {
    h3 {
        font-size: 57px;
        font-family: Inter;
        margin-bottom: 40px;
        @media(max-width:767px){
                font-size: 40px;
        }
    }
    p {
        font-family: Inter;
        font-size: 20px;
        @media(max-width:767px){
            font-size: 18px;
        }
    }
    a {
        background-color: #fff;
        padding: 16px 42px;
        text-decoration: unset;
        color: #6335f0;
        border-radius: 50px;
        display: inline-block;
        margin-top: 10px;
    }
}

}


