footer.footer {
    background-color: #0F091B;
    padding-top: 40px;
}
footer.footer h3 {
    color: #CAC6DD;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 1px;
    font-family: Inter;
    margin-bottom: 24px;
    @media(max-width:767px){
            margin-top: 20px;
    }
}

footer.footer ul {
    padding: 0;
    margin: 0;
}

footer.footer ul li {
    display: block;
    margin-bottom: 20px;
}

footer.footer ul li a {
    color: #F5F5F5;
    text-decoration: unset;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.69px;
    font-family: Inter;
}

footer.footer a {
    color: #F5F5F5;
    display: block;
    text-decoration: unset;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.69px;
    font-family: Inter;
}


footer .contact a {
    margin-bottom: 20px;
}

footer .contact ul li {
    display: inline-block;
    margin-right: 20px;
}

footer .contact  p {
    color: #F5F5F5;
    font-size: 14px;
    line-height: 19px;
}
.newsletter {
    background-color: rgb(88 88 90 / 60%);
    padding: 30px;
    border-radius: 20px;
}

.newsletter input[type="email"] {
    background-color: #fff;
    height: 50px;
    border: unset;
    padding: 0 10px;
    width: 100%;
    border-radius: 50px !important;
}

.newsletter button {
    border: unset;
    color: #fff;
    z-index: 999999;
    background: linear-gradient(45deg, #6335f0, #df9fff);
    padding: 8px 12px;
    position: absolute;
    top: 5px;
    left: auto;
    right: 4px;
    border-radius: 59px !important;
    margin: 0 !important;
    font-size: 14px;
    font-family: Inter;
}
.col-sm-12.copyright {
    padding: 25px 0;
    border-top: 1px solid;
    margin-top: 50px;
    display: flex;
    @media(max-width:767px){
        display: block;
    }
}

.col-sm-12.copyright p {
    margin: 0;
    color: #CAC6DD;
    font-size: 14px;
    line-height: 19px;
    font-family: Inter;
     @media(max-width:767px){
           text-align: center;
    }
}

.col-sm-12.copyright ul {
    text-align: right;
     @media(max-width:767px){
           text-align: center;
                   margin-top: 10px;
    }
}

.col-sm-12.copyright ul li {
    display: inline-block;
    margin: 0 10px;
}
