section.portfolio-sec {
    padding: 72px 0;
    @media(max-width:767px){
            padding: 0 0 40px;
    }

    .tools-content {
        text-align: center;

        span.subheading {
            text-transform: uppercase;
            color: #270f5c;
            letter-spacing: 2px;
            margin-bottom: 16px;
            padding: 12px 30px;
            font-family: Inter;
            font-size: 16px;
            display: inline-block;
            position: relative;
        }

        span.subheading:before {
            content: "";
            -webkit-mask-composite: xor;
            -webkit-mask-source-type: auto, auto;
            background: linear-gradient(90deg, #c7b8ff, #e2d7ff);
            border-radius: 999px;
            padding: 2px;
            position: absolute;
            inset: 0;
            -webkit-mask-image: linear-gradient(#000 0 0), linear-gradient(#000 0 0);
            -webkit-mask-position: 0 0, 0 0;
            -webkit-mask-size: auto, auto;
            -webkit-mask-repeat: repeat, repeat;
            -webkit-mask-clip: content-box, border-box;
            -webkit-mask-origin: content-box, border-box;
            -webkit-mask-composite: xor;
            mask-composite: exclude;
            -webkit-mask-source-type: auto, auto;
            mask-mode: match-source, match-source;
        }

        h3 {
            color: #270f5c;
            font-family: Inter;
            font-size: 40px;
            font-weight: 700;
            line-height: 48px;
            margin-bottom: 16px;
        }

        h3 span {
            background: linear-gradient(90deg, #6335f0, #b97ffb);
            -webkit-text-fill-color: #0000;
            -webkit-background-clip: text;
            background-clip: text;
            font-weight: 700;
        }

        p {
            color: #6B6B6B;
            font-size: 18px;
            line-height: 26px;
            max-width: 54%;
            margin: auto;
            font-family: Inter;
            @media(max-width:767px){
           max-width: 100%;
             font-size: 16px;
    }
        }
    }

    .tabs-header {
        margin-top: 40px;
        margin-bottom: 24px;
        @media(max-width:767px){
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        button.tab-btn {
            margin: 0 20px 0 0;
            color: #29115D;
            border: unset;
            background-color: transparent;
            font-size: 14px;
            line-height: 16px;
            text-transform: uppercase;
            font-family: Inter;
            letter-spacing: 2px;
            border: 1px solid #B279F9;
            border-radius: 50px;
            padding: 10px 20px;
            display: inline-block;
              @media(max-width:767px){
                margin: 0 10px 10px 0;
              }
        }

        button.tab-btn.active {
            background-color: #29115D;
            color: #fff;
        }
    }


}
.hover-expand-sec {
  padding: 24px 0 0;

  .expand-wrapper {
    display: flex;
    gap: 14px;
    @media(max-width:767px){
        flex-wrap: wrap;
    }

    /* Card */
    .expand-item {
      position: relative;
      flex: 1;
      border-radius: 28px;
      overflow: hidden;
      cursor: pointer;
      transition: flex 0.6s cubic-bezier(0.22, 1, 0.36, 1);

      /* Default compressed look */
      &:not(.active) {
        flex: 0.3;
        @media(max-width:767px){
            flex:unset;
        }
      }

      /* Hover expand */
      &:hover {
        flex: 3;
        @media(max-width:767px){
            flex:unset;
        }

        /* Slight zoom for premium feel */
        .expand-img {
          transform: scale(1.05);
        }
      }

      /* Image */
      .expand-img {
        object-fit: cover;
        transition: transform 0.6s ease;
      }
      @media(max-width:767px){
        flex: unset;
      }
    }

    /* Shrink others */
    &:hover {
      .expand-item:not(:hover) {
        flex: 0.5;
        @media(max-width:767px){
            flex:unset;
        }
      }
    }
  }
}
.work-column-text {
    position: absolute;
    bottom: 0;
    color: #fff;
    padding: 0 20px 20px;
    display: none;
}

h3.work-column-text-heading {
    color: #fff;
    margin-top: 0;
    font-size: 64px;
    line-height: 56px;
    font-family: Inter;
    font-weight: bold;
    margin-bottom: 20px;
}

p.work-column-text-desc {
    color: #fff;
    font-size: 24px;
    line-height: 24px;
    position: relative;
    font-family: Inter;
    margin: 0;
}

p.work-column-text-para {
    color: #fff;
    padding-top: 20px;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    position: relative;
    font-family: Inter;
}


.expand-item.active .work-column-text {
    display: block;
}

.active  .work-column-text {
    display: none;
}